.text-center {
  text-align: center;
}

.drawer-option {
  padding: 16px;
}

#shared-moments {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.custom-card {
  margin-top: 10px;
  margin-bottom: 10px;
}
